/* 메뉴 스타일 */
nav {
    background-color: #E9F3FC; /* 사용자 지정 배경색 */
    width: 100%; /* 너비 100% */
    position: fixed; /* 상단에 고정 */
    top: 0;
    left: 0;
    height: 70px;
    display: flex; /* 플렉스 박스를 사용해 로고와 메뉴 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 0 20px; /* 양쪽에 여백 추가 */
    box-sizing: border-box; /* 패딩을 포함한 박스 크기 계산 */
}

/* 로고 이미지 스타일 */
nav img {
    height: 40px; /* 로고 이미지 높이 조정 */
    margin-right: 20px; /* 로고와 메뉴 사이 여백 */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* 메뉴 항목 가로 정렬 */
    flex-grow: 1; /* 로고와 메뉴 간격 자동 조절 */
    justify-content: center; /* 메뉴 중앙 정렬 */
    position: relative; /* 드롭다운 메뉴의 위치 설정 */
}

nav ul li {
    position: relative; /* 드롭다운 메뉴를 포함하기 위해 상대 위치 설정 */
    margin: 0 30px; /* 메뉴 항목 간 간격 */
}

nav ul li a {
    display: block;
    color: #6D6D6D;
    text-align: center;
    padding: 14.66px 20px;
    text-decoration: none;
    font-weight: bold; /* 글자 굵게 */
}

/* 드롭다운 메뉴 스타일 */
.dropdown-content {
    display: none; /* 기본적으로 숨김 */
    position: absolute; /* 부모 요소를 기준으로 위치 설정 */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
    top: 100%; /* 메뉴 항목 아래에 표시되도록 위치 설정 */
    left: 0; /* 메뉴 항목과 맞추기 위해 위치 설정 */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* 드롭다운 메뉴가 표시될 때 */
.dropdown:hover .dropdown-content {
    display: block;
}


/* 대시보드 제목 스타일 */
#dashboard-title {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center; /* 제목 중앙 정렬 */
}
